@import "variables.module";
//--------fonts colors-------------

h1,h2,h3,h4,h5,h6{

    font-weight: 500;
}
.fontColor{
    color: $d-fontColor;
}
.fontColorLight{
    color: $d-fontColorLight;
}
//---------bg colors-----------------
.bgColor{
    color: $d-fontColor;
    background: $d-bgColor;
}
.bgElemColor{
    background: $d-bgElemsColor;
}
.activeBg{
    background: $d-activeColor;
}
.activeFill{
    fill: $d-activeColor;
}
.inactiveBg{
    background: $d-inactiveColor;
}
.inactiveFill{
    fill: $d-inactiveColor;
}
.activeStroke{
    border-color: $d-activeColor;
}