@import "variables.module";
.mainPage {
    width: 100%;
    min-height: inherit;
    height: 100%;
}
.topArtists {
    width: 950px;
    margin-top: 30px;
    box-shadow: $shadow;
}
.topArtistsList{
    display: flex;
    overflow-x: auto;
}
.tracksAndGenres{
    min-height: 300px;
    margin-top: 15px;
    width: 950px;
    justify-content: space-between;
}