//Light theme colors
$l-bgColor: #F8F8F8;
$l-bgElemsColor: #fff;
$l-activeColor: #F4C396;
$l-inactiveColor: #CCCCCC;
$l-fontColor: #343434;
$l-fontColorLight: #808080;

//Dark theme colors
$d-bgColor: #12151D;
$d-bgElemsColor: #1B1F29;
$d-activeColor: #FF9B71;
$d-inactiveColor: #7F7F7F;
$d-fontColor: #fff;
$d-fontColorLight: #ABABAB;

//Common settings
$bRad: 4px; //border radius
$bRadRounded: 50%; // border radius for rounded buttons and elems