@import-normalize;
@import "./styles/nullStyle";
html,
body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

}
#root{
  width: 100%;
  min-height: 100vh;
}


